.jlc-general-page {
	padding: 10px 0;
}

.jlc-page-title {
	font-size: 26px;
	font-weight: 700;
	color: #111315;
	margin-bottom: 25px;
}

.jlc-sections-wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	/* max-width: 850px; */
}

.jlc-section-card {
	background: #ffffff;
	border-radius: 14px;
	padding: 30px 28px;
	box-shadow: 0 6px 28px rgba(0, 0, 0, 0.06);
	border: 1px solid #e6e8ec;
	transition: all 0.2s ease;
}

.jlc-section-card:hover {
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.jlc-save-btn {
	width: 100%;
	max-width: 360px;
	background: var(--jlc-primary);
	color: #fff;
	border: none;
	padding: 16px;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;

	margin-top: 40px;

	box-shadow: 0 4px 10px rgba(37, 211, 102, 0.25);
	transition: all 0.25s ease;
}

.jlc-save-btn:hover {
	background: var(--jlc-primary-dark);
	box-shadow: 0 6px 14px rgba(37, 211, 102, 0.35);
	transform: translateY(-1px);
}

.jlc-save-btn:active {
	transform: scale(0.98);
	box-shadow: 0 3px 8px rgba(37, 211, 102, 0.25);
}
